<template>
  <v-dialog
  v-model="dialog"
  max-width="640px"
  >
    <v-card flat tile>
      <v-card-title class="primary headline">
        <span style="color:white;">Thêm mới khách hàng</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                v-model="books.bookName"
                label="Tên sách">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="books.price"
                label="giá mới">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="books.originalPrice"
                label="giá gốc">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="books.description"
                label="mô tả">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="books.categoryID"
                label="mã thể loại">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="books.companyID"
                label="mã công ty">

                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <v-divider></v-divider>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
        color="grey darken-1"
        class="mr-2"
        dark
        @click="$emit('close')"
        >
          Hủy bỏ
        </v-btn><v-btn
        color="primary"
        class="mr-4"
        dark
        @click="addBooks()"

        >
          Lưu
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios'
export default {
  name: "Add",
  data(){
    return{
      books:{
        
        bookName:'',
        price:'',
        originalPrice:'',
        description:'',
        categoryID:'',
        companyID:'',

      }
    }
  },
  props: ['dialogAdd'],
  computed:{
    dialog: {
      get(){
        return this.dialogAdd;
      },
      set(value){
        if(!value){
          
          this.$emit("close")
        }
      }
    }
  },methods:{
    addBooks(){
      axios.post('https://localhost:44398/api/Book/InsertBook',this.books)
      .then((response)=>{
        this.$emit("updateData");
        this.$emit("close");
      })
      .catch((error)=>{
        console.log(error)
      })
    }
  }
}
</script>

<style>

</style>
