<template>
  <v-app>
  <Navbar/>
   <v-content class="ma-4">
    <div class="index">
    <v-subheader>
      <h1 class="subheading grey--text">QUẢN LÝ SÁCH</h1>
      <v-spacer></v-spacer>
      <v-btn
      color="red darken-3"
      small
      dark
      elevation="3"
      fab
      @click="dialogAdd=true">
        <v-icon color="white">mdi-plus</v-icon>
      </v-btn>
    </v-subheader>
    <v-row class="mt-1">
      <v-col>
        <v-card>
          <v-data-table
          :headers="headers"
          :items="books"
          :items-per-page="10">
            <template v-slot:item="{item}">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.bookName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.originalPrice}}</td>
                <td>{{item.description}}</td>
                <td>{{item.categoryID}}</td>
                <td>{{item.companyID}}</td>
                <td>
                  <div class="d-flex justify-end align-center">
                    <v-btn fab dark elevation="3" class=" mr-3" @click="dialogEdit=true,currentItem=item" x-small color="blue">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn fab dark elevation="3" x-small color="blue" @click="dialogDelete=true, bookid=item.id">
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </div>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog
      v-model="dialogDelete"
      max-width="480px"
      class="dialog-delete"
    >
      <v-card>
        <v-alert prominent type="error">
          <v-row align="center">
            <v-col class="text-center text-h5" cols="11">
             Bạn có thực sự muốn xóa?
            </v-col>
            <v-row align="center">
                <v-spacer></v-spacer>
                <v-col cols="5">
                  <v-btn
                    @click="deleteCustomer"
                    text
                  >Đồng ý</v-btn>
                </v-col>
                <v-col cols="5">

                  <v-btn
                  @click="dialogDelete=false">Hủy bỏ</v-btn>
                </v-col>
              </v-row>
          </v-row>
        </v-alert>
      </v-card>
    </v-dialog>
    <add
      :dialogAdd="dialogAdd"
      @close="dialogAdd=false"
      @updateData="getListCustomer"
    />
    <edit
      :dialogEdit="dialogEdit"
      :currentItem="currentItem"
      @close="dialogEdit=false"
      @updateData="getListCustomer"
    />
  </div>
   </v-content>
  </v-app>   
</template>>

<script>
import Navbar from '@/components/Navbar'
import axios from 'axios'
import Add from './Add.vue'
import Edit from './Edit.vue'
export default {
  components:{ Navbar, Add, Edit },
  name: 'BookIndex',
  data(){
    return{
      headers:[
        {text:'BookId',value:'id'},
        {text:'BookName',value:'bookName'},
        {text:'Price',value:'price'},
        {text:'OriginalPrice',value:'originalPrice'},
        {text:'Description',value:'description'},
        {text:'CategoryID',value:'categoryID'},
        {text:'CompanyID',value:'companyID'},
        {text:'Chức năng',value:'action', align:"right"}
      ],
      books:[],
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
      currentItem: null,
      bookid: null
    }
  },
  methods:{
    getListCustomer(){
      axios.get('https://localhost:44398/api/Book/GetAllBook')
      .then((response) => {
        this.books = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    deleteCustomer(){
      axios.delete('https://localhost:44398/api/Book/DeleteBook?id='+this.bookid)
      .then((response)=>{
        if(response.data){
          var newArr = this.books.filter(x=>x.id != this.bookid);
          this.books = newArr;
          this.dialogDelete = false;
        }
      })
    }
  },
  created(){
    this.getListCustomer();
  }
}
</script>

<style>
    .index{
        margin-left: -150px;
        margin-right: -150px;
    }
</style>
