<template>
  <v-dialog
  v-model="dialog"
  max-width="640px"
  >
    <v-card flat tile>
      <v-card-title class="primary headline">
        <span style="color:white;">Cập nhật sách</span>
      </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  v-model="data.bookName"
                  label="Tên sách">

                  </v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  v-model="data.price"
                  label="Giá">

                  </v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  v-model="data.originalPrice"
                  label="giá gốc">

                  </v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  v-model="data.description"
                  label="mô tả">

                  </v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  v-model="data.categoryID"
                  label="mã thể loại">

                  </v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  v-model="data.companyID"
                  label="mã công ty">

                  </v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <v-divider></v-divider>
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
        color="grey darken-1"
        class="mr-2"
        dark
        @click="$emit('close')"
        >
          Hủy bỏ
        </v-btn><v-btn
        color="primary"
        class="mr-4"
        dark
        @click="updateCustomer"
        >
          Lưu
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios'
export default {
  name: "Edit",
   data(){
    return{
      data:{
        id: '',
        bookName: '',
        price: '',
        originalPrice: '',
        description: '',
        categoryID: '',
        companyID: ''
      }
    }
  },
  props: ['dialogEdit','currentItem'],
  computed:{
    dialog: {
      get(){
        return this.dialogEdit;
      },
      set(value){
        if(!value){
          this.$emit("close")
        }
      }
    }
  },
  watch:{
    currentItem :function(){
      this.data.id = this.currentItem.id;
        this.data.bookName = this.currentItem.bookName;
        this.data.price = this.currentItem.price;
        this.data.originalPrice = this.currentItem.originalPrice;
        this.data.description = this.currentItem.description;
        this.data.discount = this.currentItem.discount;
        this.data.categoryID = this.currentItem.categoryID;
        this.data.companyID = this.currentItem.companyID;
    }
  },
  methods:{
    updateCustomer(){
      axios.put('https://localhost:44398/api/Book/UpdateBook',this.data)
      .then((response)=>{
        this.$emit("close")
        this.$emit("updateData")
      })
      .catch((error)=>{
        console.log(error)
      })
    }
  }
}
</script>

<style>

</style>
