<template>
  <v-app>
    <div id="app">
      <div class="topbar">
          <Topbar/>
      </div>
    <div class="content">
      <router-view/>
    </div>
    <div>
      <Footer/>
    </div>
    <v-scale-transition>
      <v-btn
        fab
        v-show="fab"
        v-scroll="onScroll"
        dark
        fixed
        bottom
        right
        color="green"
        @click="toTop"
      >
        <v-icon>mdi-arrow-up</v-icon>
      </v-btn>
    </v-scale-transition>
  </div>
  </v-app>
  
</template>

<script>
import Header from './components/Header.vue'
import Topbar from './components/Topbar.vue'
import Footer from './components/Footer.vue';
import Home from './components/Home.vue';

export default {
  components: { Topbar, Header,Footer, Home },
  name: 'App',
  data: () => ({
    fab: null,
    color: "",
    flat: null,
  }),
  methods: {
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 60;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },
  },
}
</script>

<style>
  .content{
    margin: 70px 250px 50px 250px;
  }
  .topbar{
    z-index: 1;
    display: block;
  }
  .head{
    display: block;
    margin-top: 50px;
  }
</style>
