<template>
  <v-dialog
  v-model="dialog"
  max-width="640px"
  >
    <v-card flat tile>
      <v-card-title class="primary headline">
        <span style="color:white;">Cập nhật</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                v-model="data.userName"
                label="Tên tài khoản">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.password"
                label="Mật khẩu">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.fullname"
                label="Tên đầy đủ">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.avatar"
                label="Ảnh đại diện">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.email"
                label="Email">

                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <v-divider></v-divider>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
        color="grey darken-1"
        class="mr-2"
        dark
        @click="$emit('close')"
        >
          Hủy bỏ
        </v-btn><v-btn
        color="primary"
        class="mr-4"
        dark
        @click="updateCustomer"
        >
          Lưu
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios'
export default {
  name: "Edit",
   data(){
    return{
      data:{
        id:'',
        userName:'',
        password:'',
        fullname:'',
        avatar:'',
        email:'',
      }
    }
  },
  props: ['dialogEdit','currentItem'],
  computed:{
    dialog: {
      get(){
        return this.dialogEdit;
      },
      set(value){
        if(!value){
          this.$emit("close")
        }
      }
    }
  },
  watch:{
    currentItem :function(){
      this.data.id = this.currentItem.id;
      this.data.userName = this.currentItem.userName;
      this.data.password = this.currentItem.password;
      this.data.fullname = this.currentItem.fullname;
      this.data.avatar = this.currentItem.avatar;
      this.data.email = this.currentItem.email;
    }
  },
  methods:{
    updateCustomer(){
      axios.put('https://localhost:44398/api/User/UpdateUser',this.data)
      .then((response)=>{
        this.$emit("updateData")
        this.$emit("close")
      })
      .catch((error)=>{
        console.log(error)
      })
    }
  }
}
</script>

<style>

</style>
