<template>
  <div>
    <div  class="svg-border-waves text-white">
      <v-img
        src="https://scontent.xx.fbcdn.net/v/t1.15752-9/260514474_284524517020492_4513161297154047239_n.png?_nc_cat=108&ccb=1-5&_nc_sid=aee45a&_nc_ohc=YMV5of9mnesAX8gjoMi&_nc_oc=AQmNyL68n_n0eriO1874tUY7SoI9M4UU7ME2itOKN_UBditHjPoWgqlxnpRjX6t6YxrFjah4udMchw7C0IZGwDjm&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=82f7b075ebdc44b101e333bde2fb8de1&oe=61D23F8E"
      />
    </div>

    <div>
      <v-row justify="center" no-gutters>
        <v-divider></v-divider>
        <v-col class="footer py-2 text-center white--text text-h5" cols="12">
          {{ new Date().getFullYear() }} — <strong>TÂM BOOK</strong>
          <v-card-text>
            <v-btn
              v-for="icon in icons"
              :key="icon"
              class="mx-4 white--text"
              icon
            >
              <v-icon size="30px">
                {{ icon }}
              </v-icon>
            </v-btn>
          </v-card-text>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { Carousel3d, Slide } from "vue-carousel-3d";

export default {
  components: { Carousel3d, Slide },
  name: "Footer",
  data() {
    return {
      icons: ["mdi-facebook", "mdi-phone", "mdi-email", "mdi-instagram"],
    };
  },
};
</script>

<style>
.footer {
  background-image: linear-gradient(#ca3e31);
}
.svg-border-waves .v-image {
  bottom: 0;
  left: 0;
  height: 7rem;
  width: 100%;
}
</style>