<template>
  <div class="row header">

    <div class="col-2">
      <v-col>
        <v-list three-line>
          <template v-for="item in items">
            <v-subheader
              v-if="item.header"
              :key="item.header"
              v-text="item.header"
            ></v-subheader>
            <v-list-item v-else :key="item.title">
              <v-list-item-avatar color="#EFF4F1" size="80" rounded>
                <img :src="item.src" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title v-html="item.title"></v-list-item-title>
                <v-list-item-subtitle
                  v-html="item.subtitle"
                ></v-list-item-subtitle>
                <v-list-item-title v-html="item.money"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-col>
    </div>

    <div class="col-8">
      <v-container>
        <carousel-3d
          :controls-visible="true"
          :clickable="false"
          :height="500"
          :autoplay="true"
          :autoplay-timeout="1000"
        >
          <slide :index="i" :key="i" v-for="(slide, i) in slides">
            <figure>
              <img :src="slide.src" />
              <figcaption>
                <v-btn text color="white">{{ slide.text }}</v-btn>
              </figcaption>
            </figure>
          </slide>
        </carousel-3d>
      </v-container>
    </div>
    
    <div class="col-2 imgright">
      <v-col class="imgdiv">
        <v-img
          src="https://images.milledcdn.com/2021-01-01/ArM-wmOmVUJ_EOJW/8Zl5qhehTJwj.gif"
          width="200"
          height="200"
        ></v-img>
        <v-img
          src="https://ph-live-05.slatic.net/shop/2edf5a3c5015d0545b1e40338cb078a5.gif"
          width="200"
          height="200"
        ></v-img>
      </v-col>
    </div>
  </div>
</template>

<script>
import { Carousel3d, Slide } from "vue-carousel-3d";
import Home from "@/components/Home.vue";
import Topbar from "@/components/Topbar.vue";
export default {
  components: { Topbar, Home, Carousel3d, Slide },
  name: "MainLayout",
  data() {
    return {
      items: [
        { header: "SẢN PHẨM NỔI BẬT" },
        {
          src: "https://4.bp.blogspot.com/-RfeEtxaOgSg/W2_nfLupquI/AAAAAAAABgA/NlHHM6Q61W4kMKosh9rZVDdTVj6CEtDYgCEwYBhgL/s640/08_NCPT_VHB_T1-001dd.jpg",
          title: `<strong>Toán hình</strong>`,
          subtitle: "200 cuốn",
          money: `<strong>117.000đ</strong>`,
        },

        {
          src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Tin-hoc-11.jpg",
          title: `<strong>Sinh học</strong>`,
          subtitle: "70 cuốn",
          money: `<strong>90.000đ</strong>`,
        },
        {
          src: "https://images.thuvienpdf.com/iAGLvLROkn.webp",
          title: `<strong>Địa lý</strong>`,
          subtitle: "177 cuốn",
          money: `<strong>79.000đ</strong>`,
        },
        {
          src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Sach-giao-khoa-hinh-hoc-10.jpg",
          title: `<strong>Lịch sử</strong>`,
          subtitle: "211 cuốn",
          money: `<strong>75.000đ</strong>`,
        },
      ],
      slides: [
        {
          src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Sach-giao-khoa-hinh-hoc-10.jpg",
          text: "SÁCH GIẢI TÍCH 12",
        },
        {
          src: "https://images.thuvienpdf.com/QC3xEimage%20(49).webp",
          text: "SÁCH HÌNH HỌC 12",
        },
        {
          src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Sach-giao-khoa-hinh-hoc-10.jpg",
          text: "SÁCH TOÁN 8",
        },
        {
          src: "https://images.thuvienpdf.com/QBRtYZCdIn.webp",
          text: "SÁCH TOÁN 8",
        },
        {
          src: "https://nhasachquangloi.vn/pub/media/catalog/product/cache/3bd4b739bad1f096e12e3a82b40e551a/s/g/sgk-l10-gd-261.jpg",
          text: "SÁCH TOÁN 5",
        },
        {
          src: "https://i1.wp.com/mzfreebook.com/wp-content/uploads/2020/11/sach-giao-khoa-sinh-hoc-lop-10.jpg",
          text: "SÁCH TOÁN 6",
        },
        {
          src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Tin-hoc-11.jpg",
          text: "SÁCH TOÁN 6",
        },
      ],
    };
  },
};
</script>

<style>
.header{
  margin-left: -250px;
  margin-right: -250px;
}

.carousel-3d-container figure {
  margin: 0;
}
.carousel-3d-container figcaption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  bottom: 0;
  position: absolute;
  bottom: 0;
  padding: 15px;
  font-size: 12px;
  min-width: 100%;
  box-sizing: border-box;
}
.next span,
.prev span {
  color: rgb(0, 162, 255);
}
</style>