<template>
  <v-app>
    <div >
      <v-container >
        <h1 class="text-center">SẢN PHẨM BÁN CHẠY</h1>
        <v-sheet class="mx-auto" max-width="1500">
          <v-slide-group v-model="model" class="pa-4" center-active show-arrows>
            <v-slide-item v-for="(slider, index) in sliders" :key="index">
              <v-card
                :color="active ? 'primary' : 'grey lighten-1'"
                class="ma-4"
                height="200"
                width="150"
                @click="slider"
              >
                <img height="100%" width="100%" :src="slider" alt="" />
                <v-row class="fill-height" align="center" justify="center">
                  <v-scale-transition>
                    <v-icon
                      v-if="active"
                      color="white"
                      size="48"
                      v-text="'mdi-close-circle-outline'"
                    ></v-icon>
                  </v-scale-transition>
                </v-row>
              </v-card>
            </v-slide-item>
          </v-slide-group>
        </v-sheet>

        <v-row class="ml-2">
          <v-container>
            <v-toolbar-title
              class="py-5 grey--text text--darken-4 text-h5"
              align="center"
            >
              SÁCH VÀ ĐỒ DÙNG HỌC TẬP
            </v-toolbar-title>
          </v-container>
        </v-row>
      
        <v-row >
          <v-col v-for="book in getallbooks"  :key="book.id" :book="book"  cols="12" md="3" class="mb-3">
            
              <v-hover v-slot:default="{ hover }">
                  <v-card
                    max-width="250"
                    max-heith="250"
                    align="center"
                    
                    :elevation="hover ? 10 : 4"
                    :class="{ up: hover }"
                  >
                    <v-card-actions color="">
                      <v-spacer></v-spacer>
                    </v-card-actions>
                    <div v-for="bookimage in bookimages" :key="bookimage.id" >
                    
                       <img  v-if="bookimage.bookId == book.id"
                        :src="bookimage.imagePath" 
                      width="200"
                      height="200"
                      class="d-block ml-auto mr-auto"
                      :class="{ 'zoom-efect': hover }"
                      >
                    </div>
                   
                    <v-card-text>
                      <div >
                        <router-link class="bookname" :to="{name: 'ProductDetail' , params: {id : book.id}}"  color="red darken-4 white--text">
                          <p1>{{book.bookName}}</p1>
                        </router-link>
                      </div>
                      
                      
                    </v-card-text>
                    <v-card-text>
                      <h2>{{book.price}}</h2>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn @click="addToCart()" class="btnCart" color="red darken-4 white--text">THÊM VÀO GIỎ</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-hover>
           
                
              </v-col>   
              
             
        </v-row>
       <!-- <v-row >
        
          <v-col v-for="book in getallbooks" :key="book.id" :book="book"  cols="12" md="3" class="mb-3">
                <v-hover  v-slot:default="{ hover }">
                  <v-card
                    max-width="250"
                    max-heith="250"
                    align="center"
                    
                    :elevation="hover ? 10 : 4"
                    :class="{ up: hover }"
                  >
                    <v-card-actions color="">
                      <v-spacer></v-spacer>
                    </v-card-actions>
                    <div v-for="bookimage in bookimages" :key="bookimage.id" >
                    
                       <img  v-if="bookimage.bookId == book.id"
                        :src="bookimage.imagePath" 
                      width="200"
                      height="200"
                      class="d-block ml-auto mr-auto"
                      :class="{ 'zoom-efect': hover }"
                      >
                    </div>
                   
                    <v-card-text>
                      <router-link :to="{name: 'ProductDetail' , params: {id : book.id}}" color="red darken-4 white--text">
                        <p1>{{book.bookName}}</p1>
                      </router-link>
                      
                    </v-card-text>
                    <v-card-text>
                      <h2>{{book.price}}</h2>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn @click="addToCart()" class="btnCart" color="red darken-4 white--text">THÊM VÀO GIỎ</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-hover>
              </v-col>   
        </v-row> -->
      </v-container>
    </div>
    <v-content>
      <v-pagination
        color="red darken-4"
        v-model="page"
        :length="10"
        :total-visible="7"
        prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
      ></v-pagination>
    </v-content>
    
    <v-container>
      <v-content>
        <v-row justify="center">
          <v-col lg="12" class="text-center">
            <!-- <v-subheader class="text-h4" justify="center"
              >SẢN PHẨM LIÊN QUAN</v-subheader> -->
            <p class="text-h4">SẢN PHẨM LIÊN QUAN</p>
            <p>
              TÂM BOOK - Góc review sách | thiết bị văn phòng | Chia sẽ những
              cuốn sách hay nên đọc nên xem =))
            </p>
          </v-col>

          <v-col lg="12">
            <div class="text-center">
              <v-chip
                @click="activeFooter = 'sach'"  
                :color="
                  activeFooter === 'sach' ? 'red darken-4 white--text' : ''
                "
                class="mx-5"
                >SÁCH MÔN HỌC</v-chip
              >
              <v-chip
                @click="activeFooter = 'but'"
                :color="
                  activeFooter === 'but' ? 'red darken-4 white--text' : ''
                "
                class="mx-5"
                >BÚT HỌC TẬP</v-chip
              >
              <v-chip
                @click="activeFooter = 'dungcu'"
                :color="
                  activeFooter === 'dungcu' ? 'red darken-4 white--text' : ''
                "
                class="mx-5"
                >DỤNG CỤ HỌC TẬP
              </v-chip>
            </div>
          </v-col>
          <slot v-if="activeFooter === 'sach'">
            <v-col
              lg="3"
              v-for="(book, sachindex) in sachApps"
              :key="sachindex"
            >
              <v-card>
                <v-img
                  :src="book.image"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title>{{ book.title }}</v-card-title>
                </v-img>
              </v-card>
            </v-col>
          </slot>
          <slot v-if="activeFooter === 'but'">
            <v-col lg="3" v-for="(pen, butindex) in butApps" :key="butindex">
              <v-card>
                <v-img
                  :src="pen.image"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title>{{ pen.title }}</v-card-title>
                </v-img>
              </v-card>
            </v-col>
          </slot>

          <slot v-if="activeFooter === 'dungcu'">
            <v-col
              lg="3"
              v-for="(tool, dungcuindex) in dungcuApps"
              :key="dungcuindex"
            >
              <v-card >
                <v-img 
                  :src="tool.image"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title>{{ tool.title }}</v-card-title>
                </v-img>
              </v-card>
            </v-col>
          </slot>
        </v-row>
      </v-content>
    </v-container>
  </v-app>
</template>

<script>
import axios from 'axios'
import carousel from 'vue-owl-carousel'
export default {
  data() {
    return {
      path: "~@/assets/BookImage/sach1.jpg" ,
      components:{ },
      page: 1,
      activeFooter: "sach",
      sachApps: [
        {
          title: "Sách ngữ văn",
          image:
            "https://3.bp.blogspot.com/-nPZaZVr5V6A/W2mFEeASRwI/AAAAAAAABTA/8hmyYzeqCDks2HPo0lRmdbyw364P14-5gCLcBGAs/s640/12_GTCB-001ghgh.jpg",
        },
        {
          title: "Sách sinh học",
          image:
            "https://4.bp.blogspot.com/-9LeTQ5LI6pM/W2mDNT3bCSI/AAAAAAAABSk/UMtJgwsYEpA2G56A7oQaOtoHh5uatbUkwCEwYBhgL/s640/12_HHCB-001jkjkj.jpg",
        },
        {
          title: "Sách lịch sử",
          image:
            "https://4.bp.blogspot.com/-RfeEtxaOgSg/W2_nfLupquI/AAAAAAAABgA/NlHHM6Q61W4kMKosh9rZVDdTVj6CEtDYgCEwYBhgL/s640/08_NCPT_VHB_T1-001dd.jpg",
        },
        {
          title: "Sách địa lý",
          image:
            "https://4.bp.blogspot.com/-LUUbxlaVJTQ/W2_niI_r8lI/AAAAAAAABgc/ZCRkIRK6trgUZd22mKB_qCPUQ2ChgE12ACEwYBhgL/s640/08_NCPT_VHB_T2-001dd.jpg",
        },
        {
          title: "Sách hóa học",
          image:
            "https://1.bp.blogspot.com/-qGg4sByPzUI/XFA5iQkvvzI/AAAAAAAAByQ/YRayvyiRBpwjIlpRSBa1OCmujXtOT8_QgCLcBGAs/s1600/S%25C3%25A1ch%2Bgi%25C3%25A1o%2Bkhoa%2BTo%25C3%25A1n%2B5_Page0.jpg",
        },
        {
          title: "Sách tiếng anh",
          image:
            "https://1.bp.blogspot.com/-WC30A29LITk/XG-QUdRhLpI/AAAAAAAACO0/_u52dxnB4_YPHcI8HoJCxVfgccyQpB1WQCLcBGAs/s1600/Giai-bai-tap-toan-6-tap2_Page1.jpg",
        },
        {
          title: "Sách học tốt",
          image:
            "https://tiinlove.net/wp-content/uploads/2017/06/len-ke-hoach-on-tap-mon-tieng-anh-danh-cho-hoc-sinh-lop-12-518x500.jpg",
        },
      ],
      butApps: [
        {
          title: "Bút chì",
          image: "https://cf.shopee.vn/file/154c3345a2c754c6b67c0d69e3d1f0a6",
        },
        {
          title: "Bút chì kim",
          image: "https://cf.shopee.vn/file/e0981a4983c9ad093fd153f81842b9bf",
        },
        {
          title: "Bút sắc màu",
          image:
            "https://ae01.alicdn.com/kf/HTB1noHKC21TBuNjy0Fjq6yjyXXaa/B-t-M-u-N-c-H-p-B-Qu-T-ng-Tr-Em-S-C.jpg_q50.jpg",
        },
        {
          title: "Bút lông",
          image: "https://cf.shopee.vn/file/2e6689f20ffac9e68b954e16f13474bf",
        },
        {
          title: "Bút mực",
          image:
            "https://salt.tikicdn.com/ts/product/28/10/da/468a727dc1bfb3ce18aaaac34a158cf0.JPG",
        },
        {
          title: "Bút máy",
          image: "https://huyphu.com/Product/AJfyBUgmwu2/1572080456125.jpg",
        },
        {
          title: "Bút tô màu",
          image: "https://sonca.vn/wp-content/uploads/2019/07/089tl.png",
        },
      ],
      dungcuApps: [
        {
          title: "Kéo học sinh",
          image:
            "https://colokit.com.vn/vnt_upload/product/SC-C03/thumbs/870_SC_C03_53.jpg",
        },
        {
          title: "Hộp bút",
          image: "https://cf.shopee.vn/file/940f85b786ea00dc28db579d7f3cd3b1",
        },
        {
          title: "Sổ tay",
          image:
            "https://product.hstatic.net/200000101237/product/in-so-tay-gia-re-tphcm-3_be12d381140c472fa58f04e1911f31eb_master.jpg",
        },
        {
          title: "Cặp sách",
          image:
            "https://salt.tikicdn.com/ts/tmp/28/af/fe/57d19245aeba00c7a6ff42c6957440d2.jpg",
        },
        {
          title: "Máy tính cầm tay",
          image:
            "https://bizweb.dktcdn.net/100/379/648/products/may-tinh-casio-fx-570vn-plus-8-x-16-cm-l-1537255666-2.jpg?v=1587370028027",
        },
        {
          title: "Thước kẻ",
          image: "https://cf.shopee.vn/file/aeab0933ebb1b16d10ba81a805f07a7a",
        },
        {
          title: "Bút xóa",
          image:
            "https://bizweb.dktcdn.net/100/429/840/products/but-xoa-nuoc.jpg?v=1628038102317",
        },
      ],
      sliders: [
        "https://4.bp.blogspot.com/-LUUbxlaVJTQ/W2_niI_r8lI/AAAAAAAABgc/ZCRkIRK6trgUZd22mKB_qCPUQ2ChgE12ACEwYBhgL/s640/08_NCPT_VHB_T2-001dd.jpg",
        "https://images.thuvienpdf.com/QC3xEimage%20(49).webp",
        "https://images.thuvienpdf.com/QBRtYZCdIn.webp",
        "https://nhasachquangloi.vn/pub/media/catalog/product/cache/3bd4b739bad1f096e12e3a82b40e551a/s/g/sgk-l10-gd-261.jpg",
        "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Tin-hoc-11.jpg",
        "https://images.thuvienpdf.com/QC3xEimage%20(49).webp",
        "https://4.bp.blogspot.com/-LUUbxlaVJTQ/W2_niI_r8lI/AAAAAAAABgc/ZCRkIRK6trgUZd22mKB_qCPUQ2ChgE12ACEwYBhgL/s640/08_NCPT_VHB_T2-001dd.jpg",
        "https://images.thuvienpdf.com/QC3xEimage%20(49).webp",
        "https://images.thuvienpdf.com/QBRtYZCdIn.webp",
        "https://nhasachquangloi.vn/pub/media/catalog/product/cache/3bd4b739bad1f096e12e3a82b40e551a/s/g/sgk-l10-gd-261.jpg",
        "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Tin-hoc-11.jpg",
        "https://images.thuvienpdf.com/QC3xEimage%20(49).webp",
        "https://4.bp.blogspot.com/-LUUbxlaVJTQ/W2_niI_r8lI/AAAAAAAABgc/ZCRkIRK6trgUZd22mKB_qCPUQ2ChgE12ACEwYBhgL/s640/08_NCPT_VHB_T2-001dd.jpg",
        "https://images.thuvienpdf.com/QC3xEimage%20(49).webp",
        "https://images.thuvienpdf.com/QBRtYZCdIn.webp",
        "https://nhasachquangloi.vn/pub/media/catalog/product/cache/3bd4b739bad1f096e12e3a82b40e551a/s/g/sgk-l10-gd-261.jpg",
      ],
      categories: [],
      // books:[],
      // bookimages : [],
    };
  },
  props: ["book"],

  methods:{
    addToCart(){
      this.$store.dispatch("addBookToCart", {
        book: this.book,
        quantity: 1
      })
    },
  //   chuyentrang : function(){
  //       window.location.href = '/#/productdetail'
  //   },
  //   getListCustomer(){
  //     axios.get('https://localhost:44398/api/Book/GetAllBook')
  //     .then((response) => {
  //       this.books = response.data;
  //       })
  //       .catch((error) => {
  //         console.log(error);
  //       })
  //   },
    getListBookImages(){
      axios.get('https://localhost:44398/api/BookImage/GetAllBookImage')
      .then((response) => {
        this.bookimages = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    getListCategory(){
      axios.get('https://localhost:44398/api/Category/GetAllCategory')
      .then((response) => {
        this.categories = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
  },
  created(){
  //   this.getListCustomer();
    this.getListBookImages();
    this.getListCategory();
  },
  // components: {
  //   carousel
  
  // }

  computed: {
    getallbooks() {
      return this.$store.state.getallbooks;
    }
  },
  mounted(){
    this.$store.dispatch('getBooks');
  }

};
</script>
<style>
.btnCart{
  margin-left: 50px;
}
.product:hover {
  margin-bottom: 10px;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
.zoom-efect {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.bookname{
  color: black;
}
</style>