<template>
  <nav>
    <v-app-bar class="navbar" dark app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase">
        <span class="font-weight-light">BOOK</span>
        <span>store</span>
      </v-toolbar-title>

      <v-toolbar-title>
        <v-text-field
          v-model="searchText"
          @click:clear="searchText = ''"
          placeholder="Search"
          class="ml-8"
          style="max-width: 350px"
          prepend-inner-icon="mdi-magnify"
          clearable
          outlined
          rounded
          dense
          hide-details
        />
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-navigation-drawer class="nav" v-model="drawer" dark app>
      <v-layout column align-center>
        <v-flex class="mt-5">
          <v-avatar size="100">
            <img
              src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/254265056_3135822446742953_6917900188868420123_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=Amhjw6FX3P8AX_gY-D4&_nc_ht=scontent.fhan2-3.fna&oh=00_AT8uX360mbmHodck3HGULv-e537ftSK56xwCWwfGOxzr8w&oe=61D05796"
              alt=""
            />
          </v-avatar>
         
        </v-flex>
         <p class="white--text subheading mt-1 text-center">Adminstrator</p>
        <v-flex class="mt-4 mb-4">
        </v-flex>
      </v-layout>
      <v-list flat>
        <v-list-item
          v-for="link in links"
          :key="link.text"
          router
          :to="link.route"
          active-class="border"
        >
          <v-list-item-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  data: () => ({
    drawer: true,
    links: [
      { icon: "mdi-home", text: "Trang chủ", route: "/" },
      { icon: "mdi-folder-edit", text: "Book Table", route: "/book" },
      { icon: "mdi-folder-edit", text: "Category Table", route: "/category" },
      { icon: "mdi-folder-edit", text: "Book Image Table", route: "/bookimage" },
      { icon: "mdi-folder-edit", text: "Contact Table", route: "/contact" },
      { icon: "mdi-folder-edit", text: "Customer Table", route: "/customer" },
      { icon: "mdi-folder-edit", text: "Menu Table", route: "/menu" },
      { icon: "mdi-folder-edit", text: "Menu Type Table", route: "/menutype" },
      { icon: "mdi-folder-edit", text: "Order Table", route: "/order" },
      { icon: "mdi-folder-edit", text: "Order Detail Table", route: "/orderdetail" },
      { icon: "mdi-folder-edit", text: "Slide Table", route: "/slide" },
      { icon: "mdi-folder-edit", text: "Supplier Table", route: "/supplier" },
      { icon: "mdi-folder-edit", text: "User Table", route: "/user" },
      { icon: "mdi-exit-to-app", text: "Thoát", route: "/" },
    ],
    links1: [
      {
        src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Sach-giao-khoa-hinh-hoc-10.jpg",
        text: "Toán hình",
        price: '50.000đ',
      },
      {
        src: "https://4.bp.blogspot.com/-RfeEtxaOgSg/W2_nfLupquI/AAAAAAAABgA/NlHHM6Q61W4kMKosh9rZVDdTVj6CEtDYgCEwYBhgL/s640/08_NCPT_VHB_T1-001dd.jpg",
        text: "Toán hình",
        price: '10.000đ',
      },
      {
        src: "https://salt.tikicdn.com/ts/tmp/28/af/fe/57d19245aeba00c7a6ff42c6957440d2.jpg",
        text: "Toán hình",
        price: '70.000đ',
      },
    ],
  }),
  components: {},
};
</script>
<style scoped>
.border {
  border-left: 4px solid #ffffff;
}
.nav {
  background-image: linear-gradient(
    #CA3939
  );
}
.navbar {
  background-image: linear-gradient(
    #CA3939
  );
}
</style>
