<template>
  <v-app-bar app elevation="3" class="topbar" dark>
    <v-navigation-drawer v-model="drawer" app clipped flating temporary>
      <v-list>
        <v-list-item link color="grey lighten-4">
          <v-list-item-content>
            <v-list-item-title> DANH MỤC SẢN PHẨM </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item class="ml-2" v-for="n in 7" :key="n" link>
          <v-list-item-content>
            <v-list-item-title>Văn phòng phẩm {{ n }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

    <v-toolbar-title>
      <v-text-field
        v-model="searchText"
        @click:clear="searchText = ''"
        placeholder="Search"
        class="ml-8"
        style="max-width: 350px"
        prepend-inner-icon="mdi-magnify"
        clearable
        outlined
        rounded
        dense
        hide-details
      />
    </v-toolbar-title>

    <v-tabs v-model="tab" align-with-title>
      <v-tabs-slider color="white"></v-tabs-slider>
      <v-tab @click="chuyentranghome()">
        Trang chủ
      </v-tab>
      <v-tab @click="chuyentrangtintuc()">
        Tin tức
      </v-tab>
    </v-tabs>

    <v-spacer></v-spacer>
    <div v-if="checked" class="dialogin"  >
      
        <template  >
          <v-btn  class="dialog" text color="white" dark 
            >Đăng xuất
          </v-btn>  
        </template>
        
  
      <div @click="chuyencus()">
        <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/254265056_3135822446742953_6917900188868420123_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=Amhjw6FX3P8AX_gY-D4&_nc_ht=scontent.fhan2-3.fna&oh=00_AT8uX360mbmHodck3HGULv-e537ftSK56xwCWwfGOxzr8w&oe=61D05796" width="50px" height="50px" class="img"/>
      </div>
    </div>
    <template v-else>
      <v-dialog width="400" v-model="dialog">
        <template v-slot:activator="{ on, attrs }">
          <v-btn text color="white" dark v-bind="attrs" v-on="on" rounded
            >Đăng nhập
          </v-btn>
           
        </template>
        <v-card>
          <v-card-title primary-title class="red darken-1 white--text">
            ĐĂNG NHẬP
          </v-card-title>
          <v-card-text class="mt-5">
            <v-form>
              <v-text-field
              v-model="username"
                label="Tài khoản"
                color="red darken-1"
                name="account"
                prepend-inner-icon="mdi-account"
                type="account"
                class="rounded-5"
                outlined
              ></v-text-field> 
              
             
              <v-text-field
              v-model="password"
                label="Mật khẩu"
                color="red darken-1"
                name="password"
                prepend-inner-icon="mdi-key-variant"
                :type="passwordShow ? 'text' : 'password'"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="passwordShow = !passwordShow"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-text-field
              v-model="customerId"
                label="mã đăng nhập"
                color="red darken-1"
                name="password"
                prepend-inner-icon="mdi-key-variant"
                :type="passwordShow ? 'text' : 'password'"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="passwordShow = !passwordShow"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-btn class="rounded-5" @click="handleAuth2() ,dialog = false " color="red darken-1" x-large block dark
                >Đăng nhập</v-btn
              >
              <v-card-actions class="text--secondary">
                <v-checkbox
                  color="red darken-1"
                  label="Nhớ mật khẩu"
                ></v-checkbox>
                <v-spacer></v-spacer>
                <!-- <router-link :to="{ name: 'SignUp' }">Sign Up</router-link> -->
                No account?
                <a href="#" class="pl-2" style="color: red darken-1"
                  >Đăng ký</a
                >
              </v-card-actions>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn depressed outlined color="grey">
              <v-icon color="red">mdi-google</v-icon>
            </v-btn>
            <v-btn depressed outlined color="grey">
              <v-icon color="blue">mdi-facebook</v-icon>
            </v-btn>
            <v-btn depressed outlined color="grey">
              <v-icon color="light-blue lighten-3">mdi-twitter</v-icon>
            </v-btn>
            <v-btn color="red lighten-1" text @click="dialog = false">
              Hủy bỏ
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog width="400" v-model="dialog1">
        <template v-slot:activator="{ on, attrs }">
          <v-btn text color="white" dark v-bind="attrs" v-on="on" rounded
            >Đăng ký
          </v-btn>
        </template>
        <v-card>
          <v-card-title primary-title class="red darken-1 white--text">
            ĐĂNG KÝ
          </v-card-title>
          <v-card-text class="mt-5">
            <v-form>
              <v-text-field
                label="Tài khoản"
                color="red darken-1"
                name="name"
                prepend-inner-icon="mdi-account"
                type="text"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-text-field
                label="Email"
                color="red darken-1"
                name="email"
                placeholder="@gmail.com"
                prepend-inner-icon="mdi-email"
                type="email"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-text-field
                label="Mật khẩu"
                color="red darken-1"
                name="password"
                prepend-inner-icon="mdi-key-variant"
                :type="passwordShow ? 'text' : 'password'"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="passwordShow = !passwordShow"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-btn class="rounded-0" color="red darken-1" x-large block dark
                >Đăng ký</v-btn
              >
              <v-card-actions class="text--secondary">
                <v-spacer></v-spacer>
                <!-- <router-link :to="{ name: 'SignUp' }">Sign Up</router-link> -->
                Đã có tài khoản?
                <a href="#" class="pl-2"  color="red darken-1">Đăng nhập</a>
              </v-card-actions>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
        </v-card>
      </v-dialog>
    </template>

    
    <v-menu offset-y >
        <template v-slot:activator="{ on }">
          <v-btn text  v-on="on" dark icon>
           
              <v-icon>mdi-cart</v-icon>
              <span></span>
            
          </v-btn>
        </template>
        <v-card width="400px" color="green lighten-1 white--text">
          <div v-if="checked">
            <v-card-title  v-on:click="chuyentrang" class="sp">SẢN PHẨM ĐÃ ĐẶT</v-card-title>
          </div>
          <div v-else>
            <v-card-title  v-on:click="tb()" class="sp">SẢN PHẨM ĐÃ ĐẶT</v-card-title>
          </div>
          <v-list flat>
            <v-list-item class="col"  v-for="item in cart" :key="item.getbook.id"
            >
            <div v-for="bookimage in bookimagess" :key="bookimage.bookId">
              <img v-if="bookimage.bookId == item.getbook.id" width="70px" height="70px" :src="bookimage.imagePath" />
            </div>
              
              <v-list-item-title>{{ item.getbook.bookName }}</v-list-item-title>
              <v-list-item-title>{{ item.getbook.price }}</v-list-item-title>
              <v-btn dark icon>
                <v-icon color="red darken-4" @click.prevent="deleteCart(item.getbook)">mdi-delete</v-icon>
                <v-icon color="red darken-4" v-on:click="addtoCart(item) ">mdi-cart</v-icon>
              </v-btn>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      
  </v-app-bar>
</template>

<script>
import { mapState, mapActions } from "vuex";
import axios from 'axios'
export default {
  name: "Topbar",
  data() {
    return {
      username : null,
      password: null,
      customerId: null,
      showFailureMessage: false,
      bookimagess : [],
      drawer: false,
      dialog: false,
      dialog1: false,
      passwordShow: false,
      tab: null,
      orderDetails: {
        bookId:'',
        quantity: '',
        orderId: '',
      },
      customerss: [],
      searchText: "",
      items: ["Trang chủ", "Review Sách", "Tuyển tập sách"],
      links1: [
      {
        src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Sach-giao-khoa-hinh-hoc-10.jpg",
        text: "Toán hình",
        price: "50.000đ",
      },
      {
        src: "https://4.bp.blogspot.com/-RfeEtxaOgSg/W2_nfLupquI/AAAAAAAABgA/NlHHM6Q61W4kMKosh9rZVDdTVj6CEtDYgCEwYBhgL/s640/08_NCPT_VHB_T1-001dd.jpg",
        text: "Toán hình",
        price: "10.000đ",
      },
      {
        src: "https://salt.tikicdn.com/ts/tmp/28/af/fe/57d19245aeba00c7a6ff42c6957440d2.jpg",
        text: "Toán hình",
        price: "70.000đ",
      },
    ],
    };
  },
  computed: {
     ...mapState({ checked: (state) => state.auth.checked }),
     cart() {
      return this.$store.state.cart;
    },
  },
  created(){
      this.getCustomer();
      this.getListBookImages();
    },
  methods:{
    ...mapActions({ check: "auth/check" }),
        async handleAuth2() {
            await this.check({
                username: this.username,
                password: this.password,
                id: this.customerId,
            });

            if (this.checked) {
                
                this.$router.push("/");
                
                
            } else {
                this.showFailureMessage = true;
            }
        },
      
    chuyentrang : function(){
        window.location.href = '/#/orderDetail'
    },
    chuyentrang1 : function(){
        window.location.href = '/#/minicart'
    },
    deleteCart(getbook){
      this.$store.dispatch("removeBookFromCart" , getbook);
    },
    getListBookImages(){
      axios.get('https://localhost:44398/api/BookImage/GetAllBookImage')
      .then((response) => {
        this.bookimagess = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    getCustomer(){
      axios.get('https://localhost:44398/api/Customer/GetAllCustomer')
      .then((response) => {
        this.customer = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    addtoCart(item){
      this.orderDetails.bookId = item.getbook.id;
      this.orderDetails.orderId = 2;
      this.orderDetails.quantity = '1';
       axios.post('https://localhost:44398/api/OrderDetail/InsertOrderDetail', this.orderDetails)
       .then((response)=>{
        this.$emit("updateData");
        this.$emit("close");
      })
      .catch((error)=>{
        console.log(error)
      })
      this.deleteCart(item.getbook);
    },
    chuyentranghome(){
      window.location.href = '/#/'
    },
    chuyentrangtintuc(){
      window.location.href = '/#/tintuc'
    },
    tb(){
      alert("bạn chưa đăng nhập")
    },
    chuyencus(){
      window.location.href = '/#/minicart'
    }
  }
};

</script>

<style>
.hover {
  position: relative;
  top: 150px;
}
.sp:hover{
  opacity: 0.8;
  cursor: pointer;
}
.topbar {
  background-image: linear-gradient(
    #ca3e31
  );
}
.dialogin{
    display: inline-flex;
}
.flex{
  display: flex;
}
.img{
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 20px;
}
.dialog{
  margin-top: 10px;
}
</style>
