<template>
    <div>
    <div class="head">
      <Header/>
    </div>

    <div>
      <Home/>
    </div>
    </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Home from '@/components/Home.vue';

export default {
  components: { Header, Home },
  name: 'App',
  data: () => ({
  }),
}
</script>

<style>
  .content{
    margin: 50px 250px 50px 250px;
  }
  .head{
    display: block;
    margin-top: 50px;
  }
</style>
