<template>
  <v-app>
  <Navbar/>
   <v-content class="ma-4">
    <div class="index">
    <v-subheader>
      <h1 class="subheading grey--text">QUẢN LÝ KHÁCH HÀNG</h1>
      <v-spacer></v-spacer>
      <v-btn
      color="red darken-3"
      small
      dark
      elevation="3"
      fab
      @click="dialogAdd=true">
        <v-icon color="white">mdi-plus</v-icon>
      </v-btn>
    </v-subheader>
    <v-row class="mt-1">
      <v-col>
        <v-card>
          <v-data-table
          :headers="headers"
          :items="customer"
          :items-per-page="10">
            <template v-slot:item="{item}">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.customerName}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.address}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.password}}</td>
                <td>{{item.avatar}}</td>
                <td>
                  <div class="d-flex justify-end align-center">
                    <v-btn fab dark elevation="3" class=" mr-3" @click="dialogEdit=true,currentItem=item" x-small color="blue">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn fab dark elevation="3" x-small color="blue" @click="dialogDelete=true, customerId=item.id">
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </div>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog
      v-model="dialogDelete"
      max-width="480px"
      class="dialog-delete"
    >
      <v-card>
        <v-alert prominent type="error">
          <v-row align="center">
            <v-col class="text-center text-h5" cols="11">
             Bạn có thực sự muốn xóa?
            </v-col>
            <v-row align="center">
                <v-spacer></v-spacer>
                <v-col cols="5">
                  <v-btn
                    @click="deleteCustomer"
                    text
                  >Đồng ý</v-btn>
                </v-col>
                <v-col cols="5">

                  <v-btn
                  @click="dialogDelete=false">Hủy bỏ</v-btn>
                </v-col>
              </v-row>
          </v-row>
        </v-alert>
      </v-card>
    </v-dialog>
    <add
      :dialogAdd="dialogAdd"
      @close="dialogAdd=false"
      @updateData="getListCustomer"
    />
    <edit
      :dialogEdit="dialogEdit"
      :currentItem="currentItem"
      @close="dialogEdit=false"
      @updateData="getListCustomer"
    />
  </div>
   </v-content>
  </v-app>   
</template>>

<script>
import Navbar from '@/components/Navbar'
import axios from 'axios'
import Add from './Add.vue'
import Edit from './Edit.vue'
export default {
  components:{ Navbar, Add, Edit },
  name: 'BookIndex',
  data(){
    return{
      headers:[
        {text:'Id',value:'id'},
        {text:'Tên khách hàng',value:'customerName'},
        {text:'Giới tính',value:'gender'},
        {text:'Điện thoại',value:'phone'},
        {text:'Email',value:'email'},
        {text:'Địa chỉ',value:'address'},
        {text:'Tên tài khoản',value:'userName'},
        {text:'Mật khẩu',value:'password'},
        {text:'Ảnh đại diện',value:'avatar'},
        {text:'Chức năng',value:'action', align:"right"}
      ],
      customer:[],
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
      currentItem: null,
      customerId: null
    }
  },
  methods:{
    getListCustomer(){
      axios.get('https://localhost:44398/api/Customer/GetAllCustomer')
      .then((response) => {
        this.customer = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    deleteCustomer(){
      axios.delete('https://localhost:44398/api/Customer/DeleteCustomer?id='+this.customerId)
      .then((response)=>{
        if(response.data){
          var newArr = this.customer.filter(x=>x.id != this.customerId);
          this.customer = newArr;
          this.dialogDelete = false;
        }
      })
    }
  },
  created(){
    this.getListCustomer();
  }
}
</script>

<style>
    .index{
        margin-left: -150px;
        margin-right: -150px;
    }
</style>
