<template>
  <div>
      <v-card class="container" v-model="dialog" width="500px" weight="500px">
        <v-card-title primary-title class="red darken-1 white--text">
          ĐĂNG NHẬP
        </v-card-title>
        <v-card-text class="mt-5">
          <v-form>
            <v-text-field
            v-model="username"
              label="Tài khoản"
              color="red darken-1"
              name="account"
              prepend-inner-icon="mdi-account"
              type="account"
              class="rounded-5"
              outlined
            ></v-text-field>
            <v-text-field
            v-model="password"
              label="Mật khẩu"
              color="red darken-1"
              name="password"
              prepend-inner-icon="mdi-key-variant"
              :type="passwordShow ? 'text' : 'password'"
              :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="passwordShow = !passwordShow"
              class="rounded-5"
              outlined
            ></v-text-field>
         
            <v-btn @click="handleAuth" class="rounded-5" color="red darken-1" x-large block dark
              >Đăng nhập</v-btn
            >
            <v-card-actions class="text--secondary">
              <v-checkbox
                color="red darken-1"
                label="Nhớ mật khẩu"
              ></v-checkbox>
              <v-spacer></v-spacer>
              <!-- <router-link :to="{ name: 'SignUp' }">Sign Up</router-link> -->
              No account?
              <a href="#" class="pl-2" style="color: red darken-1">Đăng ký</a>
            </v-card-actions>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn depressed outlined color="grey">
            <v-icon color="red">mdi-google</v-icon>
          </v-btn>
          <v-btn depressed outlined color="grey">
            <v-icon color="blue">mdi-facebook</v-icon>
          </v-btn>
          <v-btn depressed outlined color="grey">
            <v-icon color="light-blue lighten-3">mdi-twitter</v-icon>
          </v-btn>
          <v-btn color="red lighten-1" text @click="dialog = false">
            Hủy bỏ
          </v-btn>
        </v-card-actions>
      </v-card>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      username : null,
      password: null,
      id:null,
      showFailureMessage: false,
      dialog: false,
      passwordShow: false,
    };
  },
    computed: {
        ...mapState({ authenticated: (state) => state.auth.authenticated }),
    },
    methods:{
        ...mapActions({ authenticate: "auth/authenticate" }),
            async handleAuth() {
                await this.authenticate({
                    username: this.username,
                    password: this.password,
                });

                if (this.authenticated) {
                    
                    this.$router.push("/book");
                    
                    
                } else {
                    this.showFailureMessage = true;
                }
            },
        
    },
};
</script>

<style>
</style>