<template>
  <div class="grey lighten-5">
    <v-row no-gutters>
      <v-col cols="9">
        <h1 class="pa-5" outlined tile></h1>
      </v-col>
      <v-col cols="6">
        <v-card class="pa-5 " outlined tile>
          <img class="imgavt"
            width="470"
            src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/254265056_3135822446742953_6917900188868420123_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=Amhjw6FX3P8AX_gY-D4&_nc_ht=scontent.fhan2-3.fna&oh=00_AT8uX360mbmHodck3HGULv-e537ftSK56xwCWwfGOxzr8w&oe=61D05796"
            alt=""
          />
        </v-card>
      </v-col>
      <v-col cols="6">
        <div class="pl-10">
          <h2>THÔNG TIN KHÁCH HÀNG</h2>
        </div>
        <v-card v-for="c in customer" :key="c.id" class="pa-2" outlined tile>
          <v-row v-if="c.id == 3">
            <v-col>
              <v-card ref="form">
                <v-card-text>
                  <v-text-field
                    ref="name"
                    v-model="c.customerName"
                    
                    label="Họ tên "
                   
                  ></v-text-field>
                  <v-text-field
                    ref="address"
                    v-model="c.address"
                   
                    label="Địa chỉ nhận hàng"
      
                  ></v-text-field>
                  <v-text-field
                    ref="phone"
                    v-model="c.phone"
                    label="Điện thoại"
                    

                  ></v-text-field>
                  <v-text-field
                    ref="email"
                    v-model="c.email"
                    label="Email"
                    

                  ></v-text-field>
                  <v-text-field
                    ref="gender"
                    v-model="c.gender"
                    label="giới tính"

                  ></v-text-field>
                </v-card-text>
                <v-divider color="red" class="mt-12"></v-divider>
               
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      alert: false,
      customer: [],
    };
  },
   methods:{
    getListCustomer(){
      axios.get('https://localhost:44398/api/Customer/GetAllCustomer')
      .then((response) => {
        this.customer = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
  },
  created(){
    this.getListCustomer();
  }
};
</script>
<style >
.imgavt{
  border-radius:25px ;
}
</style>
