
<template >
  <v-card>
    <div class="main">
          <h1 class="text-center">ĐƠN HÀNG CỦA BẠN</h1>
      <v-row class="pa-5">
        <v-col class="ml-3">Tên sản phẩm</v-col>
        <v-col class="ml-5">Ảnh</v-col>
        <v-col class="ml-5">Số lượng</v-col>
        <v-col class="ml-5">Ngày đặt</v-col>
        <v-col class="ml-5">Tổng tiền</v-col>
        <v-col class="ml-5">Đặt hàng</v-col>
        <v-col class="ml-5">trạng thái</v-col>
      </v-row>
      <v-banner single-line></v-banner>
      <div v-for="orderDetail in o" :key="orderDetail.id" >
          <div>
                <v-row class="pa-2"  >
        
        <v-col class="ml-5 mt-5 "  >
            <div v-for="book in bs" :key="book.id">
                <div  v-if=" orderDetail.bookId == book.id">
                {{ book.bookName }}
            </div>
            </div>
            
          
        </v-col>
        <v-col class="pa-5"  > 
            <div v-for="book in bs" :key="book.id">
                <div v-if=" orderDetail.bookId == book.id">
                 <div v-for="bimg in bi" :key="bimg.id">
                  <img v-if="bimg.id == book.id" width="60px" height="60px" :src="bimg.imagePath"/> 
                </div>        
            </div>
            </div>
            
        </v-col>
        <v-col class="mr-7 mt-7" >
             {{ orderDetail.quantity }}
        </v-col>
        <v-col class="ml-5 mt-7" >
            <div  v-for="orderr in od" :key="orderr.id">
                <div  v-if=" orderDetail.orderId == orderr.id">
                {{ orderr.bookingDate }}
                </div>
            </div>
            
        </v-col>
        <v-col class="ml-5 mt-7" >
            <div  v-for="book in bs" :key="book.id">
                <div v-if=" orderDetail.bookId == book.id">
                    {{ book.price}}
                </div>
                
            </div>
        </v-col>     
        <v-col>
            <div :v-if="orderDetail.isActive == false" class="d-flex justify-end align-center action">
                    <v-btn fab dark elevation="3" class=" mr-3" @click=" comfirm() ,updateodd(orderDetail)" x-small color="blue">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn fab dark elevation="3" x-small color="blue" @click="Deleteodd(orderDetail.id)">
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
            </div>
            <div :v-else="orderDetail.isActive == true" class="d-flex justify-end align-center action">
                <v-btn class="hidden">
                      
                    </v-btn >
                    <v-btn class="hidden">
                      
                    </v-btn>
            </div>
        </v-col>
        <v-col class="ml-5 mt-7" >
            <div v-if="orderDetail.isActive == true"><img src="https://cdn.fast.vn/tmp/20201012162408-70.PNG" width="70px" height="40px"/></div> 
            <div v-else class="uncheck">chưa nhận hàng</div>
        </v-col>  
        
      </v-row>
          </div>
      
      </div>
      
          </div>
        <div class="text-center pt-6">

           <div class="text-center pt-6">
          <!-- <v-dialog v-model="dialog" width="500">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="red darken-1" v-bind="attrs" v-on="on" block x-large dark>
                ĐẶT HÀNG
              </v-btn> </template
            >
            <v-card>
              <v-card-text class="text-center pt-6 red darken-1 white--text">
                <h2>Chúc mừng bạn đã đặt hàng<strong> THÀNH CÔNG</strong></h2>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="dialog = false">
                  <a
                    style="text-decoration: none"
                    class="red--text"
                    >Đóng</a
                  >
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog> -->
        </div>
        </div>
            
      
      <h3 class="pa-5 text-center">Cám ơn quý khách đã tin tưởng và luôn ủng hộ BookSTORE</h3>

  </v-card>
</template>

<script>
var total;
import axios from 'axios'
export default {
name: "OrderDetails",
props: ["book"],
  data() {
    return {
      o:[],
      od:[],
      bs:[],
      bi :[],
      alert: false,
      dialog: false,
      desserts: [
        {
          name: "Messi",
          src: "https://salt.tikicdn.com/ts/tmp/28/af/fe/57d19245aeba00c7a6ff42c6957440d2.jpg",
          date: "2/12/2021",
          quantity: 159,
          price: "50.000đ",
        },
        {
          name: "Messi",
          src: "https://salt.tikicdn.com/ts/tmp/28/af/fe/57d19245aeba00c7a6ff42c6957440d2.jpg",
          date: "2/12/2021",
          quantity: 159,
          price: "50.000đ",
        },
      ],
    };
  },
 created(){
     this.getListBookImages();
     this.getListOrderDetails();
     this.getListBook();
     this.getListOrder();
  }, 
  methods:{
      getListBookImages(){
      axios.get('https://localhost:44398/api/BookImage/GetAllBookImage')
      .then((response) => {
        this.bi = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
     getListOrder(){
      axios.get('https://localhost:44398/api/Order/GetAllOrder')
      .then((response) => {
        this.od = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    getListBook(){
      axios.get('https://localhost:44398/api/Book/GetAllBook')
      .then((response) => {
        this.bs = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    getListOrderDetails(){
      axios.get('https://localhost:44398/api/OrderDetail/GetAllOrderDetail')
      .then((response) => {
        this.o = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    updateodd(odd){
      odd.isActive = true;
      axios.put('https://localhost:44398/api/OrderDetail/UpdateOrderDetail',odd)
      .then((response)=>{
        this.$emit("updateData")
        this.$emit("close")
      })
      .catch((error)=>{
        console.log(error)
      })
    },
    comfirm(){
      confirm("bạn đã nhận được hàng?");
    },
    Deleteodd(id){
      confirm("đơn hàng đang được giao bạn có chắc chắn muốn hủy nó?");
      axios.delete('https://localhost:44398/api/OrderDetail/DeleteOrderDetail?id='+id);
      this.$router.push("/orderdetail");
    }
  },
};
</script>

<style>
.main{
    margin-top: 100px;
}
.action{
    margin-top: 20px;
    margin-right: 120px;
}
.show{
    display:flex;
}
.uncheck{
  font-size: 20px;
  margin-right: 20px;
  color: red;
}
.hidden{
  display: none;
}
</style>