<template>
  <div class="product"  >
    <v-container >
      <v-row>
        <v-col cols="12" sm="4" >
          
          <v-card>
            <div>
              <div v-for="bookimage in bookimages" :key="bookimage.bookId">
                <img v-if="bookimage.bookId == getbook.id" class="img"
                :src="bookimage.imagePath"
                >
              </div>
              
            </div>
            

            <v-container>
              <v-row>
                <v-col >
                  <v-card flat>
                    <div class="px-7">
                      <vueper-slides
                        :infinite="false"
                        class="no-shadow"
                        :visible-slides="3"
                        slide-multiple
                        :gap="1"
                        :slide-ratio="1 / 4"
                        :dragging-distance="200"
                        :breakpoints="{
                          800: { visibleSlides: 2, slideMultiple: 2 },
                        }"
                      >
                        <template #arrow-left>
                          <v-icon class="mr-n15">fas fa-chevron-left</v-icon>
                        </template>

                        <template #arrow-right>
                          <v-icon class="ml-n15">fas fa-chevron-right</v-icon>
                        </template>
                        <vueper-slide
                          v-for="(slide, i) in slides"
                          :key="i"
                          :image="slide.src"
                        />
                      </vueper-slides>
                    </div>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
        <v-col cols="12" sm="8" >
         
            <h1 class="grey--text text-darken-3 mt-5"> {{getbook.bookName}} </h1>
        
            <div >
              <v-row>
                <v-col>
                  <v-rating :value="4" color="red" dense half-increments size="15">
                  </v-rating>
              
                  
         
                <div>
                    <div >Công ty: Hồng Hà</div>
                </div>
                  <div v-if="getbook.categoryID == 1">Thể loại : Sách</div>
                  <div v-else-if="getbook.categoryID == 2">Thể loại : Văn phòng phẩm</div>
                </v-col>
              </v-row>
              <p class="mt-5 grey--text text--darken-3 subheader">
                Một trong những nhà báo và tác giả ảnh hưởng nhất hiện nay, ba lần
                được trao tặng giải thưởng Tạp chí Quốc gia Hoa Kỳ. Các bài viết của
                ông được đăng tải trên các tạp chí nổi tiếng như National
                Geographic, New York Times, Rolling Stone và Harpers. Bằng kiến thức
                và trải nghiệm thực tế, những phân tích – cũng như dự đoán – của ông
                đã thu hút sự quan tâm và chú ý của rất nhiều phương tiện truyền
                thông trên toàn thế giới. Mời bạn đón đọc!
              </p>
            </div>
          
          <div class="mt-5">
            <h1>{{getbook.price}}</h1>
          </div>

          <div>
            <v-btn color="grey" outlined><v-icon>fas fa-minus</v-icon></v-btn>
            1
            <v-btn color="grey" outlined><v-icon>fas fa-plus</v-icon></v-btn>
          </div>
          <v-card-text></v-card-text>

          <v-dialog v-model="dialog" persistent max-width="800px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn tile color="primary" v-bind="attrs" v-on="on">
                Ảnh chi tiết
              </v-btn>
            </template>
            <v-card>
              <v-card align="center">
                <v-img
                  src="https://images.thuvienpdf.com/QC3xEimage%20(49).webp"
                ></v-img>
                <v-img
                  src="https://images.thuvienpdf.com/QBRtYZCdIn.webp"
                ></v-img>
              </v-card>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="black" text @click="dialog = false">Đóng</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <div v-if="checked" class="flex" >
            <v-btn v-on:click="addToCart()" tile color="primary" class="ml-2 btnmua">
            <v-icon left>mdi-cart</v-icon>Mua ngay
            </v-btn>
          </div>
          <div v-else class="flex">
            <v-btn v-on:click="tb()" tile color="primary" class="ml-2 btnmua">
            <v-icon left>mdi-cart</v-icon>Mua ngay
          </v-btn>
          </div>
        </v-col>
      </v-row>

      <v-divider class="mt-2"></v-divider>
      <div>
        <p class="mt-5 grey--text text--darken-3 subheader">
          Về tác giả: Stew - Một trong những nhà báo và tác giả ảnh hưởng nhất
          hiện nay, ba lần được trao tặng giải thưởng Tạp chí Quốc gia Hoa Kỳ.
          Các bài viết của ông được đăng tải trên các tạp chí nổi tiếng như
          National Geographic, New York Times, Rolling Stone và Harpers. Cuốn
          sách Nguồn gốc dịch bệnh, được xuất bản năm 2012, mang đến góc nhìn
          khoa học về các mầm bệnh gây bệnh trên động vật, và đôi khi lây truyền
          cho chính con người. Bằng kiến thức và trải nghiệm thực tế, những phân
          tích – cũng như dự đoán – của ông đã thu hút sự quan tâm và chú ý của
          rất nhiều phương tiện truyền thông trên toàn thế giới. Mời bạn đón
          đọc!
        </p>
      </div>
    </v-container>
  </div>
</template>

<script>
 var bookId 
 import { mapState, mapActions } from "vuex";
import axios from 'axios'
import { VueperSlides, VueperSlide } from "vueperslides";
export default {
  components: { VueperSlides, VueperSlide },
  name: "ProductDetail",
  props: ["id"],
  computed: {
    ...mapState({ checked: (state) => state.auth.checked }),
    getbook() {
      return this.$store.state.getbook;
    }
  },
  mounted(){
    this.$store.dispatch('getBook',this.id);
  },
  data () {
    return { 
      dialog: false,
      slides: [
        {
          src: "https://images.thuvienpdf.com/iAGLvLROkn.webp",
        },
        {
          src: "https://images.thuvienpdf.com/QC3xEimage%20(49).webp",
        },
        {
          src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Sach-giao-khoa-hinh-hoc-10.jpg",
        },
        {
          src: "https://images.thuvienpdf.com/QBRtYZCdIn.webp",
        },
        {
          src: "https://nhasachquangloi.vn/pub/media/catalog/product/cache/3bd4b739bad1f096e12e3a82b40e551a/s/g/sgk-l10-gd-261.jpg",
        },
        {
          src: "https://i1.wp.com/mzfreebook.com/wp-content/uploads/2020/11/sach-giao-khoa-sinh-hoc-lop-10.jpg",
        },
        {
          src: "https://sachhoc.com/image/catalog/LuyenThi/Lop10-12/Tin-hoc-11.jpg",
        },
        {
          src: "https://images.thuvienpdf.com/iAGLvLROkn.webp",
        },
        {
          src: "https://images.thuvienpdf.com/QC3xEimage%20(49).webp",
        },
      ],
      sliders: [
        "https://cdn.searchenginejournal.com/wp-content/uploads/2020/01/which-web-design-platform-is-right-for-you-5e4d59fb941b9-1520x800.png",
        "https://cdn.searchenginejournal.com/wp-content/uploads/2019/12/5-ways-seo-web-design-go-together-5e2945dd5df37.png",
        "https://data.whicdn.com/images/350420216/original.jpg?t=1605047796",
        "https://1zylgb20pxi7mw2sdr8i4a14-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/projectleft.jpg",
        "https://cdn.dribbble.com/users/702789/screenshots/14012516/media/561a8b7e8cbe51c72c18f4ef0dc72676.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/2399102/screenshots/15522177/media/346d890482d929610d316938e7d48629.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/702789/screenshots/14012516/media/561a8b7e8cbe51c72c18f4ef0dc72676.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/2399102/screenshots/15522177/media/346d890482d929610d316938e7d48629.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/702789/screenshots/14012516/media/561a8b7e8cbe51c72c18f4ef0dc72676.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/2399102/screenshots/15522177/media/346d890482d929610d316938e7d48629.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/702789/screenshots/14012516/media/561a8b7e8cbe51c72c18f4ef0dc72676.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/2399102/screenshots/15522177/media/346d890482d929610d316938e7d48629.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/702789/screenshots/14012516/media/561a8b7e8cbe51c72c18f4ef0dc72676.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/2399102/screenshots/15522177/media/346d890482d929610d316938e7d48629.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/702789/screenshots/14012516/media/561a8b7e8cbe51c72c18f4ef0dc72676.png?compress=1&resize=400x300",
        "https://cdn.dribbble.com/users/2399102/screenshots/15522177/media/346d890482d929610d316938e7d48629.png?compress=1&resize=400x300",
      ],
      books: [],
      categorys:[],
      
      chuyentrang1 : function(){
          window.location.href = '/#/minicart'
      },
    }
  },
  created(){
      this.getListCustomer();
      this.getListBookImages();
    },
  methods: {
    ...mapActions({ check: "auth/check" }),
        async handleAuth2() {
            await this.check({
                username: this.username,
                password: this.password,
                id: this.customerId,
            });

            if (this.checked) {
                
                this.$router.push("/");
                
                
            } else {
                this.showFailureMessage = true;
            }
        },
    getListCustomer(){
      axios.get('https://localhost:44398/api/Book/GetAllBook')
      .then((response) => {
        this.books = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    getData(id) {
      let data = this.books
      return data.filter(item => {
        return item.id == id
      })
    },
    getListBookImages(){
      axios.get('https://localhost:44398/api/BookImage/GetAllBookImage')
      .then((response) => {
        this.bookimages = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    getCategory(){
      axios.get('https://localhost:44398/api/Category/GetAllCategory')
      .then((response) => {
        this.categorys = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    addToCart(){
      this.$store.dispatch("addBookToCart", {
        getbook: this.getbook,
        quantity: 1
      })
    },
    tb(){
      alert("bạn chưa đăng nhập");
    }
  },
  
};
</script>

<style scoped>
.img{
  width: 450px;
  height: 600px;
}
.product {
  margin-top: 100px;
}
.flex{
  display: inline;
}

</style>
