<template>
  <div>
    <h1
      dismissible
      color="green"
      border="left"
      elevation="5"
      colored-border
      icon="mdi-cart"
    >
      #TAG:<strong>Tin tức</strong>
    </h1>
    <v-divider></v-divider>
    <v-row class="mt-5">
      <v-col class="d-flex" cols="6">
        <v-img
          src="https://newshop.vn/public/uploads/news/moi-nhat-du-kien-phuong-thuc-tuyen-sinh-dai-hoc-2022-tu-cac-truong.png"
        ></v-img>
      </v-col>
      <v-col cols="6">
        <v-container class="pa-0 pl-2" style="margin: -4px 0">
          <v-row>
            <v-col class="d-flex" cols="7">
              <v-img
                src="https://newshop.vn/public/uploads/news/chinh-phuc-ngay-cac-bo-de-thi-thu-thpt-quoc-gia-mon-hoa-2022.png"
              ></v-img>
            </v-col>
            <v-col class="d-flex" cols="5">
              <v-img
                src="https://newshop.vn/public/uploads/news/tu-tin-dat-8-cung-bi-quyet-on-thi-vao-lop-10-sieu-hieu-qua.png"
              ></v-img>
            </v-col>
            <v-col class="d-flex" cols="5">
              <v-img
                src="https://newshop.vn/public/uploads/news/on-tap-giua-ky-1-tieng-anh-6.png"
              ></v-img>
            </v-col>
            <v-col class="d-flex" cols="7">
              <v-img
                src="https://newshop.vn/public/uploads/news/cac-nganh-hoc-hot-nam-2022.png"
              ></v-img>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-card-title class="align-start">
      <div>
        <h1 class="text-h5">
          Chinh Phục Ngay Các Bộ Đề Thi Thử THPT Quốc Gia Môn Hoá 2022
        </h1>
        <div class="grey--text font-weight-light">
          Xem ngay: Tóm Tắt Lý Thuyết Luyện Thi THPT Quốc Gia Hoá Học 2022 Chi
          Tiết Nhất >>> Tải ngay file pdf đầy đủ:Tại Đây
        </div>
      </div>
      <v-spacer></v-spacer>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-actions>
      <span
        class="pl-2 grey--text text--darken-2 font-weight-light text-caption"
        >744 Lượt xem</span
      >
      <v-spacer></v-spacer>
    </v-card-actions>
    <div class="pa-4 pt-0 text-caption">
      <em
        >Nào, hãy cùng BookSTORE tìm hiểu các kiến thức trọng tâm cũng như bộ đề
        thi thử THPT môn hoá 2022 nào mới nhất hiện nay nhé!.</em
      >
    </div>

    <v-row>
      <v-col class="d-flex" cols="3">
        <v-img
          src="https://newshop.vn/public/uploads/news/moi-nhat-du-kien-phuong-thuc-tuyen-sinh-dai-hoc-2022-tu-cac-truong.png"
        ></v-img>
      </v-col>
      <v-col cols="9">
        <v-container class="" style="margin: -4px 0">
          <v-row>
            <h2>
              [MỚI NHẤT] Cập Nhật Đề Án Tuyển Sinh 2022 Từ Các Trường Đại Học
            </h2>
            <tr>
              Đến nay, bên cạnh đề án tuyển sinh 2022 đã được một số trường đại
              học phía Nam công bố thì các trường ĐH phía Bắc cũng đã bắt đầu
              đưa ra đề án tuyển sinh năm nay. Các phương thức tuyển sinh được
              đánh giá là khá ổn định...
            </tr>
            <tr>
              1 Tuần trước
            </tr>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="d-flex" cols="3">
        <v-img
          src="https://newshop.vn/public/uploads/news/tu-tin-dat-8-voi-bi-kip-on-thi-khoi-c-cho-si-tu-2k4.png"
        ></v-img>
      </v-col>
      <v-col cols="9">
        <v-container class="" style="margin: -4px 0">
          <v-row>
            <h2>Bật Mí Ngay Các Ngành Khối B Triển Vọng Cho Mùa Thi 2022</h2>
            <tr>
              Để có định hướng tốt cho việc chọn ngành khối B, các bạn học sinh
              cần nắm bắt tổng quan những nhóm ngành khối B. Sau đây sẽ là những
              ngành học khối B hot được phân thành các nhóm lĩnh vực phổ biến
              trong xã hội mà các bạn học sinh có thể tham khảo.
            </tr>
            <tr>
              1 Tuần trước
            </tr>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="d-flex" cols="3">
        <v-img
          src="https://newshop.vn/public/uploads/news/ban-co-cau-hoi-nao-khong-1.png"
        ></v-img>
      </v-col>
      <v-col cols="9">
        <v-container class="" style="margin: -4px 0">
          <v-row>
            <h2>Tự Tin Đạt 8+ Cùng Bí Quyết Ôn Thi Vào Lớp 10 Siêu Hiệu Quả</h2>
            <tr>
              Khối C vốn mang các tính chất đặc thù từ các môn xã hội với nội
              dung nhiều, khó nhớ và dễ gây nhầm lẫn. Vì thế việc ôn thi khối C
              ít nhiều cũng sẽ gây nên sự khó khăn cho các bạn học sinh. Hiểu
              được điều đó, Newshop đã tập hợp một số bí kíp ôn thi hiệu quả
              cùng những đầu sách ôn thi vô cùng hữu hiệu nhằm chia sẻ đến các
              bạn học sinh. Cùng nắm bắt ngay nhé!
            </tr>
            <tr>
              3 Tuần trước
            </tr>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="d-flex" cols="3">
        <v-img
          src="https://newshop.vn/public/uploads/news/dat-9-cung-bo-de-thi-thpt-quoc-gia-mon-tieng-anh-luu-hoang-tri.png"
        ></v-img>
      </v-col>
      <v-col cols="9">
        <v-container class="" style="margin: -4px 0">
          <v-row>
            <h2>[MỚI NHẤT] Tự Tin Đạt 8+ Với Bí Kíp Ôn Thi Khối C Cho Sĩ Tử</h2>
            <tr>
              Khối C vốn mang các tính chất đặc thù từ các môn xã hội với nội
              dung nhiều, khó nhớ và dễ gây nhầm lẫn. Vì thế việc ôn thi khối C
              ít nhiều cũng sẽ gây nên sự khó khăn cho các bạn học sinh. Hiểu
              được điều đó, Newshop đã tập hợp một số bí kíp ôn thi hiệu quả
              cùng những đầu sách ôn thi vô cùng hữu hiệu nhằm chia sẻ đến các
              bạn học sinh. Cùng nắm bắt ngay nhé!
            </tr>
            <tr>
              5 Tuần trước
            </tr>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="d-flex" cols="3">
        <v-img src="https://newshop.vn/public/uploads/news/na.png"></v-img>
      </v-col>
      <v-col cols="9">
        <v-container class="" style="margin: -4px 0">
          <v-row>
            <h2>Tự Tin Học Thật Giỏi Với Sách Tham Khảo Lớp 6 Cánh Diều</h2>
            <tr>
              Khối C vốn mang các tính chất đặc thù từ các môn xã hội với nội
              dung nhiều, khó nhớ và dễ gây nhầm lẫn. Vì thế việc ôn thi khối C
              ít nhiều cũng sẽ gây nên sự khó khăn cho các bạn học sinh. Hiểu
              được điều đó, Newshop đã tập hợp một số bí kíp ôn thi hiệu quả
              cùng những đầu sách ôn thi vô cùng hữu hiệu nhằm chia sẻ đến các
              bạn học sinh. Cùng nắm bắt ngay nhé!
            </tr>
            <tr>
              1 Năm trước
            </tr>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-divider class="pa-5 mt-5"></v-divider>
    <v-btn
      class="mt-5"
      color="red darken-3"
      v-bind="attrs"
      v-on="on"
      block
      x-large
      dark
    >
      Xem thêm
      <v-icon>
        mdi-menu-down-outline
    </v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    copied: false,
    dialog: false,
    rating: 10,
  }),

  methods: {
    copy() {
      const markup = this.$refs.link;
      markup.focus();
      document.execCommand("selectAll", false, null);
      this.copied = document.execCommand("copy");
    },
  },
};
</script>

<style>
</style>