<template>
  <v-dialog
  v-model="dialog"
  max-width="640px"
  >
    <v-card flat tile>
      <v-card-title class="primary headline">
        <span style="color:white;">Thêm</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                v-model="data.totalMoney"
                label="Tổng tiền">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.payment"
                label="Chi trả">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                v-model="data.bookingDate"
                label="Ngày đặt">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.deliveryData"
                label="Dữ liệu giao hàng">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                v-model="data.shippingWay"
                label="Cách chuyển">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.state"
                label="Trạng thái">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                v-model="data.note"
                label="Ghi chú">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.transportFee"
                label="Phí chuyển">

                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field
                 v-model="data.customerId"
                label="Mã khách hàng">

                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <v-divider></v-divider>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
        color="grey darken-1"
        class="mr-2"
        dark
         @click="$emit('close')"
        >
          Hủy bỏ
        </v-btn><v-btn
        color="primary"
        class="mr-4"
        dark
        @click="addCustomer"
        >
          Thêm
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios'
export default {
  name: "Add",
  data(){
    return{
      data:{
        totalMoney:'',
        payment:'',
        bookingDate:'',
        deliveryData:'',
        shippingWay:'',
        state:'',
        note:'',
        transportFee:'',
        customerId:'',
      }
    }
  },
  props: ['dialogAdd'],
  computed:{
    dialog: {
      get(){
        return this.dialogAdd;
      },
      set(value){
        if(!value){
          this.$emit("close")
        }
      }
    }
  },methods:{
    addCustomer(){
      axios.post('https://localhost:44398/api/Order/InsertOrder',this.data)
      .then((response)=>{
        this.$emit("updateData");
        this.$emit("close");
      })
      .catch((error)=>{
        console.log(error)
      })
    }
  }
}
</script>

<style>

</style>
